.cart {
    padding-top: 120px;
    padding-bottom: 50px;
    min-height: 100vh;
    &__send-order{
        display: block;
        width: 150px;
        height: 40px;
        border: none;
        background-color: #29a745;
        border-radius: 4px;
        color: #fff;
        font-size: 16px;
        cursor: pointer;
        margin: 20px 0 0 auto;
    }
    &__title {
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-weight: 300;
    }
    &__list {
        width: 60%;
        margin: 0 auto;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);

        &-block{
            display: flex;
            flex-direction: column;
        }

        &-titles{
            margin-top: 20px;
            display: flex;
            color: #fff;
            font-size: 24px;
            &-name{
                margin-left: 10px;
                text-align: left;
                width: 200px;
            }
            &-price, &-count  {
                text-align: center;
                width: 200px;
            }
        }

        &-information{
            margin-top: 20px;
            display: flex;
            color: #fff;
            font-size: 24px;
            &-title{
                margin-left: 10px;
                text-align: left;
                width: 200px;
            }
            &-price{
                text-align: center;
                width: 200px;
            }
            &-count  {
                text-align: center;
                width: 200px;

                span{
                    cursor: pointer;
                    padding: 0 10px 0 10px;
                    font-size: 24px;
                }
            }
        }


        &-img {
            height: 125px;
            width: 250px;
            object-fit: cover;
        }
    }

    &__total-price{
        text-align: right;
        color: #fff;
        font-size: 24px;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);
    }

    &__close {
        position: absolute;
        width: 25px;
        height: 25px;
        text-align: center;
        top: -10px;
        right: -10px;
        color: #fff;
        font-size: 20px;
        border-radius: 100%;
        border: 1px solid #fff;
        cursor: pointer;
    }
    &__not-items{
        font-size: 36px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        border: 1px solid rgba(256,256,256, .2);
        background-color: rgba(0,0,0,.7);
        box-shadow: 0 0 20px rgba(256,256,256, .1);
    }
}